.below {
  background-color: var(--background);
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}
.user-profile {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 10px;
  background-color: var(--foreground);
  border-radius: 20px;
  margin-left: 20px;
  z-index: 0;
}

.user-profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blue;
}

.user-profile .first {
  position: absolute;
  left: 2px;
}
.user-profile .second {
  width: 70%;
  position: absolute;
  right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  height: 70%;
}
/* .second {
  overflow: visible;
} */
.second h2 {
  font-size: 15px;
  margin-top: 30px;
  margin-left: 2%;
  color: var(--text);
}
.second p {
  font-size: 12px;
  margin-top: -5px;
  margin-left: 2%;
  color: var(--text-alt);
}

.h1 {
  color: var(--text);
  font-size: 16px;
  margin-left: 20px;
}
