# Dependency directories
/node_modules
/.pnp
.pnp.js

# Production build directory
/build

# Cache and logs
/.cache
/.eslintcache
/.env
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Environment variables
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Editor and IDE files
.idea
.vscode
*.swp
*~
