:root {
  --foreground: #fbfbfb;
  --background: #f5f5f5;
  --text: #290f66;
  --text-alt: #5f5f5f;
  --fill-color: #e7e5ee;
}
main {
  font-family: sans-serif;
  margin-top: 12vh;
  height: 80vh;
  width: 100%;
  padding: 20px;
}

.midsection {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.midsection h1 {
  color: var(--text);
}

.button-primary {
  height: 2em;
  width: 10em;
  background-color: var(--foreground);
  text-transform: capitalize;
  font-weight: 400;
  color: var(--text);
  border: 2px solid var(--text);
  border-radius: 5px;
  cursor: pointer;
}
