.nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: springgreen;
  padding: 15px;
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul li {
  list-style: none;
  margin-left: 100px;
  margin-right: 100px;
}

.ul li:first-of-type {
  color: white;
  font-size: 30px;
  font-weight: 900;
}
.img {
  position: relative;
  overflow: hidden;
}

.img img {
  transform: skewY(-12deg);
  transform-origin: left top;
  display: block;
  width: 100%;
  height: 350px;
}
