.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.input label {
  font-weight: bold;
  color: green;
}

.input input {
  padding: 0.5px 2px;
  background-color: greenyellow;
  font-size: large;
  font-weight: bold;
  text-align: center;
  /* border: none; */
  outline: none;
}
